<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="guitar.css">
  <script type="text/javascript" src="jquery.min.js"></script>
  <script src="guitar.js"></script>
</head>

<body onLoad="generateDropdownMenu()">
  <div id="canvas" class="canvas">
    <div id="playField" class="playfield">
      <div id="redStrip" class="strokeStrip"></div>
      <div id="yellowStrip" class="strokeStrip"></div>
      <div id="greenStrip" class="strokeStrip"></div>
      <div id="blueStrip" class="strokeStrip"></div>
    </div>
    <ul id="btnRow" class="btnrow">
      <li id="redButton" class="btn red"></li>
      <li id="yellowButton" class="btn yellow"></li>
      <li id="greenButton" class="btn green"></li>
      <li id="blueButton" class="btn blue"></li>
    </ul>
  </div>

  <ul id="horizontalMenu" class="horizontalMenu">

    <!-- Playing tracks !-->
    <li id="dropdownMenu" class="dropdownMenu">
      <button class="button">Select a Track</button>
      <div id="dropdown-content" class="dropdown-content">
        <lu id="dropdownList">Placeholder</lu>
      </div>
    </li>

    <!-- Creating tracks !-->
    <li id="saveMenu">
      <button onClick="saveHistory()" class="button">Save History</button>
      <input id="newTrackNameInput" type="text" value="Save 1">
    </li>
    <li><button onClick="deleteHistory()" class="button">Restart recording</button></li>
    <li><button onClick="showFutureStrokes(tracks[2])" class="button">Test</button></li>

    <!-- Playing Music !-->
    <script src="howler.js"></script>
    <li><button id='howler-play' class="button">Play</button></li>
    <li><button id='howler-pause' class="button">Pause</button></li>
    <li><button id='howler-stop' class="button">Stop</button></li>
    <li><button id='howler-volup' class="button">Vol+</button></li>
    <li><button id='howler-voldown' class="button">Vol-</button></li>
  </ul>
</body>
